
.primary-color {
    background-color: #EEF3FD;
}

.font-section {
    font-size: 40px;
    text-transform: uppercase;
}

.height-section {
    height: 450px;
}

.creator {
    padding-top: 13em;
    height: 450px;
}

.feature {
    padding-top: 13em;
    height: 800px;
}

.padding-bottom {
    padding-bottom: 2em;
}

.padding-button {
    padding-top: 5em;
}

.testimoni {
    padding-top: 16em;
    height: 450px;
}

.testimoni-2 {
    transform: translateY(-130px);
}

.testimoni-3 {
    transform: translateY(50px);
}

.footer {
    transform: translateY(30em);
    background-color: #221E2B;
    /* padding-top: 100em; */
    padding: 5em 0 5em 0;
}

.footer-comp {
    color: white;
    /* transform: translateY(600px); */
}

.darklight {
    color: rgb(206, 206, 206)
}

.copyright{
    transform: translateY(3.9em);
    text-align: center;
}